<h2>Completed Trips</h2>


<p>
<table class="table table-bordered table-scrollable">
	<tr>
		<th>Child Name</th>
		<th>Starting Point</th>
		<th>Destination</th>
		<th>Departure Time</th>
		<!--<th>Trip Complete?</th>-->
		<th>Arrival Time</th>
		<th>Trip Duration</th>
	</tr>

	<% @trips.each do |trip| %>
	 
	  	<tr>
	  		<td><%= trip.child_name %></td>
	  		<td><%= trip.starting_point %></td>
	  		<td><%= trip.destination %></td>
	  		<td><%= trip.created_at.strftime('%B %d %I:%M %p') %></td>
	  		<!--<td><%= trip.trip_complete %></td>
	    	<!--<td><%= trip.updated_at.strftime('%B %d, %Y %I:%M %p') %></td> -->
	    	<td><%= trip.arrival_time.strftime('%B %d %I:%M %p') %></td>
	    	<td><%= TimeDifference.between(trip.created_at, trip.arrival_time).in_minutes.round %> minutes</td>
	  	</tr>
	 <% end %>
</table>
<p>
<%= link_to 'New Trip', new_trip_path %><p>
<%= link_to 'Back', trips_path %>