<h1>My Trips</h1>

<h3>Pending Trips</h3>
<table>
	<tr>
		<th>Child Name</th>
		<th>Starting Point</th>
		<th>Destination</th>
		<th>Departure Time</th>
		<th>Trip Complete?</th>
		<th>Arrival Time</th>
	</tr>

	<% @trips.each do |trip| %>
	  <tr>
	  	<td><%= trip.child_name %></td>
	  	<td><%= trip.starting_point %></td>
	  	<td><%= trip.destination %></td>
	  	<td><%= @time %></td>
	  	<td><%= trip.trip_complete %></td>
	    <td><%= @time %></td>
	  	<td><%= link_to 'View', trip_path(trip) %></td>
	  	<td><%= link_to 'Edit', edit_trip_path(trip) %></td>
	  	<td><%= link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?'} %></td>
	  </tr>
	<% end %>
</table>
<p>
<%= link_to 'New Trip', new_trip_path %>